<p id="notice"><%= notice %></p>

<p>
  <strong>Name first:</strong>
  <%= @profile.name_first %>
</p>

<p>
  <strong>Name last:</strong>
  <%= @profile.name_last %>
</p>

<p>
  <strong>Roster epoch:</strong>
  <%= @profile.roster_epoch %>
</p>

<p>
  <strong>User:</strong>
  <%= @profile.user %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>

<%# Calendar %>
<%= month_calendar events: @events do |date, events| %>
  <%= date.strftime "%d" %>

  <% events.each do |event| %>
    <div class="<%= event.turn.shift %>">
      <%= event.start_time.strftime "%H%M" %> -
      <%= link_to event.summary(roster_suffix), event.turn %>
    </div>
  <% end %>
<% end %>
