<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @base_roster.name %>
</p>

<p>
  <strong>Version:</strong>
  <%= @base_roster.version %>
</p>

<p>
  <strong>Depot:</strong>
  <%= @base_roster.depot %>
</p>

<p>
  <strong>Link:</strong>
  <%= @base_roster.link %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @base_roster.duration %>
</p>

<p>
  <strong>Commencement date:</strong>
  <%= @base_roster.commencement_date %>
</p>

<%= link_to 'Edit', edit_base_roster_path(@base_roster) %> |
<%= link_to 'Back', base_rosters_path %>

<%= render "roster" %>
<p>
<%= link_to "Add Line", new_line_path(base_roster: @base_roster.id), class: "btn btn-default" %>
</p>
