<%= simple_form_for(@turn, html: { class: 'form-inline' }) do |f| %>
  <% if @turn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turn.errors.count, 'error') %> prohibited
        this turn from being saved:</h2>
      <ul>
      <% @turn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <% if (@turn.name.nil?) %>
      <%= f.input :name, maxlength: 4, autofocus: true %>
    <% else %>
      <%= f.label :name, class: "sr-only" %>
      <%= f.text_field :name, class:"hidden" %>
      <p class="form-control-static">VG <%= @turn.name %></p>
    <% end %>

    <%= f.input :time_on, maxlength: 4 %>
    <%= f.input :time_off, maxlength: 4 %>
    <%= f.input :sun, label: 'S' %>
    <%= f.input :mon, label: 'M' %>
    <%= f.input :tue, label: 'T' %>
    <%= f.input :wed, label: 'W' %>
    <%= f.input :thu, label: 'T' %>
    <%= f.input :fri, label: 'F' %>
    <%= f.input :sat, label: 'S' %>
    <%= f.input :base_roster_id, input_html: { value: '5' } %>

    <%= f.button :submit %>
<% end %>
