<table id="turns_table" class="table table-condensed table-striped">
  <tr>
    <th>Turn</th>
    <th>Shift</th>
    <th>On</th>
    <th>Off</th>
    <th>Hours</th>
    <th>Days</th>
    <th colspan="3"></th>
  </tr>

  <% if @turns %>
    <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.name %></td>
        <td><%= turn.shift %></td>
        <td><%= turn.time_on %></td>
        <td><%= turn.time_off %></td>
        <td><%= turn.hours %></td>
        <td><%= turn.days_code %></td>
        <!-- <td><%= link_to 'Show', turn_path(turn) %></td> -->
        <td><%= link_to 'Edit', edit_turn_path(turn) %></td>
        <td><%= link_to 'Delete', turn_path(turn), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  <% end %>
</table>
