<h1>Listing turns</h1>

<%= link_to 'Add turn', new_turn_path %>

<table border="1">
  <tr>
    <th>Turn</th>
    <th>On</th>
    <th>Off</th>
    <th>Hours</th>
    <th colspan="3"></th>
  </tr>

  <% @turns.each do |turn| %>
      <tr>
        <td><%= turn.name %></td>
        <td><%= turn.time_on %></td>
        <td><%= turn.time_off %></td>
        <td><%= turn.hours %></td>
        <td><%= link_to 'Show', turn_path(turn) %></td>
        <td><%= link_to 'Edit', edit_turn_path(turn) %></td>
        <td><%= link_to 'Delete', turn_path(turn), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>
