<h1><%= @turn.name %></h1>

<pre>
        On:  <%= @turn.start_time %>
       Off:  <%= @turn.finish_time %>
  Duration:  <%= @turn.duration %>
</pre>


<table id="turns_table" class="table table-condensed table-striped">
  <tr>
    <th>Turn</th>
    <th>On</th>
    <th>Off</th>
    <th>Hours</th>
  </tr>
  <tr>
    <td><%= @turn.name %></td>
    <td><%= @turn.time_on %></td>
    <td><%= @turn.time_off %></td>
    <td><%= @turn.hours %></td>
  </tr>
</table>

<%= link_to 'Back', turns_path %> | <%= link_to 'Edit', edit_turn_path(@turn) %>
